body {
  background-color: lightgrey;
  color: white;
  font-family: cursive;
}

/*mt     Counter          */
.counter_Cont {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #0005;
  width: 60%;
  margin: 0 auto;
  margin-top: 20rem;
  text-align: center;
}

h1 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 50px;
}

button {
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

button:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  cursor: pointer;
}

#increment-btn {
  background: darkred;
}

#save-btn {
  background: darkgreen;
}

/*st    Log   */

.log {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #0005;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  min-height: 50px;
}
